In [1]:
import requests
import json

In [2]:
from datetime import datetime

In [3]:
n = datetime.now().isoformat()
n

'2017-03-03T16:41:19.838770'

In [4]:
url = "http://services.faa.gov/airport/status/"

In [11]:
airport_code = 'LAX'

In [12]:
url_with_airport = url + airport_code

In [13]:
print url_with_airport

http://services.faa.gov/airport/status/LAX

In [14]:
params = dict(
    format='json',
)

In [15]:
# making request for airport - response expected in json format
resp = requests.get(url=url_with_airport, params=params)

In [16]:
resp.ok

True

In [17]:
data = json.loads(resp.text)
data['q_time'] = n
data

{u'IATA': u'LAX',
 u'ICAO': u'KLAX',
 u'city': u'Los Angeles',
 u'delay': u'true',
 u'name': u'Los Angeles International',
 'q_time': '2017-03-03T16:41:19.838770',
 u'state': u'California',
 u'status': {u'avgDelay': u'1 hour and 9 minutes',
  u'closureBegin': u'',
  u'closureEnd': u'',
  u'endTime': u'',
  u'maxDelay': u'',
  u'minDelay': u'',
  u'reason': u'METROPLEX',
  u'trend': u'',
  u'type': u'Ground Delay'},
 u'weather': {u'meta': {u'credit': u"NOAA's National Weather Service",
   u'updated': u'3:53 PM Local',
   u'url': u'http://weather.gov/'},
  u'temp': u'68.0 F (20.0 C)',
  u'visibility': 10.0,
  u'weather': u'Partly Cloudy',
  u'wind': u'West at 12.7mph'}}

U.S. Department of Transportation Federal Aviation Administration provides:
+ airport status for any major airport, including known delays and weather data from NOAA.

<img src='20airportsmap.png'>

In [39]:
airports = ['ATL', 'LAX', 'ORD', 'DFW', 'JFK', 'DEN', 'SFO','CLT', 'LAS', 'PHX', 'MIA', 'IAH', 'SEA', 'MCO', 'EWR', 'MSP', 'BOS', 'DTW', 'PHL','LGA']

For this project I will be working with information from the <u>top 20 busiest US airports</u> according to **"Calendar Year 2015 Revenue Enplanements at Commercial Service Airports" (PDF). Federal Aviation Administration.** 

| Rank | Name   | IATA code | City Served | 2015 |
|------|---------------|-----------|------|-------|
| 1	   |Hartsfield–Jackson Atlanta International Airport|	ATL	| Atlanta	GA |	49,340,732 |
|2	| Los Angeles International Airport|	LAX	|Los Angeles	CA	|36,351,226	|	
|3	|O'Hare International Airport |	ORD	| Chicago	IL	| 36,305,668 |		
|4	| Dallas/Fort Worth International Airport |	DFW	| Dallas/Fort Worth	TX |	31,589,832 |		
|5	|John F. Kennedy International Airport |	JFK |	New York	NY |	27,717,503		|
|6	|Denver International Airport |	DEN	 | Denver	CO	| 26,280,043		|
|7	|San Francisco International Airport |	SFO |	San Francisco	CA |	24,190,549		|
|8	|Charlotte Douglas International Airport |	CLT	| Charlotte	NC |	21,913,156		|
|9	|McCarran International Airport |	LAS	| Las Vegas	NV |	21,824,231		|
|10|	Phoenix Sky Harbor International Airport	| PHX	| Phoenix	AZ	| 21,351,445		|
|11|	Miami International Airport |	MIA	| Miami	FL	| 20,986,341		|
|12|	George Bush Intercontinental Airport |	IAH	 | Houston	TX	 | 20,595,874		|
|13|	Seattle–Tacoma International Airport |	SEA	| Seattle/Tacoma	WA |	20,148,980		|
|14|	Orlando International Airport |	MCO	| Orlando	FL	| 18,759,938		|
|15|	Newark Liberty International Airport |	EWR |	Newark/New York	NJ |	18,684,765		|
|16|	Minneapolis–Saint Paul International Airport |	MSP	| Minneapolis/St. Paul	MN |	17,634,252		|
|17|	Logan International Airport	| BOS	| Boston	MA	| 16,290,323		|
|18|	Detroit Metropolitan Airport |	DTW	| Detroit	MI | 16,255,507		|
|19|	Philadelphia International Airport | PHL	| Philadelphia	PA |	15,101,318		|
|20|	LaGuardia Airport |	LGA	 | New York	NY	| 14,319,924 |

### First pass on 20 airports

In [41]:
import json
from datetime import datetime

In [48]:
# the_time= datetime.now().replace(second=0, microsecond=0)
# timestamp = the_time.strftime('%m-%d-%Y %H:%M')
# timestamp

'02-03-2017 19:20'

In [57]:
url = "http://services.faa.gov/airport/status/"
params = dict(
    format='json',)
for code in airports:
    the_time= datetime.now().replace(second=0, microsecond=0)
    timestamp = the_time.strftime('%m-%d-%Y %H-%M')
    url_with_airport = url + code
    resp = requests.get(url=url_with_airport, params=params)
    print(resp)
    # Writing JSON data
    with open(str(timestamp) + ' - ' + code + '.json', 'wb') as f:
         json.dump(resp.text, f)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [29]:
# Reading json file
with open('02-03-2017 19-30 - ATL.json', 'r') as f:
     data = json.load(f)

In [30]:
data

u'{"delay":"false","IATA":"ATL","state":"Georgia","name":"Hartsfield-Jackson Atlanta International","weather":{"visibility":10.00,"weather":"A Few Clouds","meta":{"credit":"NOAA\'s National Weather Service","updated":"9:52 PM Local","url":"http://weather.gov/"},"temp":"38.0 F (3.3 C)","wind":"North at 16.1mph"},"ICAO":"KATL","city":"Atlanta","status":{"reason":"No known delays for this airport.","closureBegin":"","endTime":"","minDelay":"","avgDelay":"","maxDelay":"","closureEnd":"","trend":"","type":""}} '

In [34]:
# to transform unicode text dictionary to dictionary
# http://stackoverflow.com/questions/14950260/convert-unicode-string-dictionary-into-dictionary-in-python
import ast
d = ast.literal_eval(data)

In [36]:
type(d)

dict

In [37]:
d['IATA']

'ATL'

In [ ]:
url = "http://services.faa.gov/airport/status/"
params = dict(
    format='json',)
for code in airports:
    query_time = datetime.now().isoformat()
    url_with_airport = url + code
    resp = requests.get(url=url_with_airport, params=params)

    # Writing JSON data
    #with open(str(timestamp) + ' - ' + code + '.json', 'wb') as f:
    data = json.loads(resp.text)
    data['q_time'] = query_time
    client.put_record(
                    DeliveryStreamName='dsci6007-delaysproject',
                    Record={
                        'Data': json.dumps(data, ensure_ascii=False)
                        .encode('utf8') + '\n'
                    })
#     json.dump(resp.text, f)

capture errors -- from site 
write errors to log file

# Architecture 
+ Cron job every 10 minutes for each of the 20 airports into RDS

> storing the unstructured data separately and storing the data you think you'll use in a structured database. I'm also curious about what you want your final product to look like (a static website, for instance?)

# Loading CSV with delays from S3

In [1]:
from datetime import datetime

In [2]:
import pandas as pd
%matplotlib inline

### All delays into one csv

### Clean prior to DB

In [163]:
df = pd.read_csv("splittedone.csv", header=None)

In [164]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2017-02-28,18:30:03.324286,LAS,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
1,2017-02-19,02:10:05.823714,DTW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
2,2017-02-26,17:20:02.349036,DFW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
3,2017-02-26,15:00:06.175098,DTW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
4,2017-02-26,15:10:04.450809,SEA,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN

In [165]:
df.shape

(31838, 13)

In [166]:
cols = ["date", "time", "IATA", "delay", "avgDelay", "closureBegin", "closureEnd", "endTime", "maxDelays", "minDelays", "reason", "trend", "type"]

In [167]:
df.columns = cols

In [168]:
df.tail()

,date,time,IATA,delay,avgDelay,closureBegin,closureEnd,endTime,maxDelays,minDelays,reason,trend,type
31833,2017-02-27,01:30:02.089538,ORD,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
31834,2017-02-19,19:40:03.698678,CLT,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
31835,2017-02-26,18:50:06.541799,LGA,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
31836,2017-02-24,04:30:06.879451,BOS,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
31837,2017-02-28,16:00:05.817315,LGA,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN

In [169]:
df.delay = df.delay.astype('bool')

In [170]:
df.date = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [171]:
df = df.fillna(0)

In [172]:
df = df[df.IATA != 0]

In [173]:
df.IATA.unique()

array(['LAS', 'DTW', 'DFW', 'SEA', 'LGA', 'BOS', 'MCO', 'DEN', 'PHL',
       'SFO', 'CLT', 'ORD', 'PHX', 'JFK', 'EWR', 'MSP', 'MIA', 'LAX',
       'IAH', 'ATL'], dtype=object)

In [174]:
df.date.min()

Timestamp('2017-02-17 00:00:00')

In [175]:
df.date.max()

Timestamp('2017-03-01 00:00:00')

## write table that contains daily delays

In [176]:
df = df[["IATA", "date", "delay", "reason", "type"]].drop_duplicates()

In [177]:
df.head()

  IATA       date  delay                             reason type
0  LAS 2017-02-28  False  No known delays for this airport.    0
1  DTW 2017-02-19  False  No known delays for this airport.    0
2  DFW 2017-02-26  False  No known delays for this airport.    0
3  DTW 2017-02-26  False  No known delays for this airport.    0
4  SEA 2017-02-26  False  No known delays for this airport.    0

In [178]:
df = df.set_index("date")

In [179]:
df.head()

           IATA  delay                             reason type
date
2017-02-28  LAS  False  No known delays for this airport.    0
2017-02-19  DTW  False  No known delays for this airport.    0
2017-02-26  DFW  False  No known delays for this airport.    0
2017-02-26  DTW  False  No known delays for this airport.    0
2017-02-26  SEA  False  No known delays for this airport.    0

In [181]:
df_delay = df.groupby([df.index, df.IATA])["delay"].sum()

In [183]:
df_delay[:5]

date        IATA
2017-02-17  ATL     0.0
            BOS     0.0
            CLT     0.0
            DEN     0.0
            DFW     0.0
Name: delay, dtype: float64

In [184]:
df_delay[df_delay > 0] = 1

In [186]:
df_delay[:5]

date        IATA
2017-02-17  ATL     0.0
            BOS     0.0
            CLT     0.0
            DEN     0.0
            DFW     0.0
Name: delay, dtype: float64

In [250]:
df[df['delay'] == True].head()

           IATA delay                  reason          type
date
2017-02-24  PHL  True  TM Initiatives:MIT:VOL     Departure
2017-02-28  ORD  True   WEATHER/THUNDERSTORMS   Ground Stop
2017-02-17  EWR  True          WEATHER / WIND  Ground Delay
2017-02-23  LAX  True      EQUIPMENT / OUTAGE  Ground Delay
2017-02-27  EWR  True          WEATHER / WIND  Ground Delay

In [253]:
df[df['delay'] == False].head()

           IATA  delay                             reason type
date
2017-02-28  LAS  False  No known delays for this airport.    0
2017-02-19  DTW  False  No known delays for this airport.    0
2017-02-26  DFW  False  No known delays for this airport.    0
2017-02-26  DTW  False  No known delays for this airport.    0
2017-02-26  SEA  False  No known delays for this airport.    0

In [251]:
df.shape

(417, 4)

In [263]:
df.groupby("delay").size()

delay
False    238
True     179
dtype: int64

In [264]:
df_for_join = df[['IATA', 'delay']]
df_for_join.head()

           IATA  delay
date
2017-02-28  LAS  False
2017-02-19  DTW  False
2017-02-26  DFW  False
2017-02-26  DTW  False
2017-02-26  SEA  False

### Could I get reason, if multiple put them all in a field

In [212]:
df_reason = df[df["delay"] == True]

In [242]:
df_reason.shape

(179, 4)

In [213]:
df_reason.head()

           IATA delay                  reason          type
date
2017-02-24  PHL  True  TM Initiatives:MIT:VOL     Departure
2017-02-28  ORD  True   WEATHER/THUNDERSTORMS   Ground Stop
2017-02-17  EWR  True          WEATHER / WIND  Ground Delay
2017-02-23  LAX  True      EQUIPMENT / OUTAGE  Ground Delay
2017-02-27  EWR  True          WEATHER / WIND  Ground Delay

In [243]:
to_concat = df_reason[["IATA", "delay"]]

In [244]:
to_concat.head()

           IATA delay
date
2017-02-24  PHL  True
2017-02-28  ORD  True
2017-02-17  EWR  True
2017-02-23  LAX  True
2017-02-27  EWR  True

### Dummify variables

In [230]:
reason_dummies = pd.get_dummies(df_reason.reason, prefix="reason")

In [236]:
reason_dummies.shape

(179, 51)

In [231]:
reason_dummies.head()

,reason_AIRLINE REQ,reason_AIRLINE REQ.,reason_DAL AND DAL SUBS ONLY,reason_DAL AND SUB'S ONLY,reason_EQ:FAA,reason_EQUIPMENT / OUTAGE,reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE,reason_OTHER / OTHER,reason_OTHER / STAFFING,reason_OTHER/STAFFING,...,reason_WEATHER / SNOW-ICE,reason_WEATHER / THUNDERSTORMS,reason_WEATHER / WIND,reason_WEATHER/THUNDERSTORMS,reason_WX/THUNDERSTORMS,reason_WX:CONFIG CHG,reason_WX:Fog,reason_WX:Low Ceilings,reason_WX:Thunderstorms,reason_WX:Wind
date,,,,,,,,,,,,,,,,,,,,,
2017-02-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2017-02-17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2017-02-23,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-27,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [228]:
type_dummies = pd.get_dummies(df_reason.type, prefix='type')

In [235]:
type_dummies.shape

(179, 4)

In [229]:
type_dummies.tail()

            type_Arrival  type_Departure  type_Ground Delay  type_Ground Stop
date
2017-02-24             0               1                  0                 0
2017-02-21             0               1                  0                 0
2017-02-18             0               1                  0                 0
2017-02-19             0               1                  0                 0
2017-02-18             0               1                  0                 0

In [245]:
r_t_dummies = pd.concat([to_concat, reason_dummies, type_dummies], axis=1)

In [246]:
r_t_dummies.shape

(179, 57)

In [265]:
r_t_dummies.tail()

,IATA,delay,reason_AIRLINE REQ,reason_AIRLINE REQ.,reason_DAL AND DAL SUBS ONLY,reason_DAL AND SUB'S ONLY,reason_EQ:FAA,reason_EQUIPMENT / OUTAGE,reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE,reason_OTHER / OTHER,...,reason_WX/THUNDERSTORMS,reason_WX:CONFIG CHG,reason_WX:Fog,reason_WX:Low Ceilings,reason_WX:Thunderstorms,reason_WX:Wind,type_Arrival,type_Departure,type_Ground Delay,type_Ground Stop
date,,,,,,,,,,,,,,,,,,,,,
2017-02-24,ORD,True,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2017-02-21,SFO,True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2017-02-18,DFW,True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2017-02-19,PHX,True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2017-02-18,LGA,True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [283]:
df_for_join.groupby("delay").size()

delay
False    238
True     179
dtype: int64

### Joining dummies with False's

In [262]:
# df_for_join.join(r_t_dummies, how='inner', on='IATA', lsuffix='l_', rsuffix='r_')

Empty DataFrame
Columns: [IATA, IATAl_, delayl_, IATAr_, delayr_, reason_AIRLINE REQ, reason_AIRLINE REQ., reason_DAL AND DAL SUBS ONLY, reason_DAL AND SUB'S ONLY, reason_EQ:FAA, reason_EQUIPMENT / OUTAGE, reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE, reason_OTHER / OTHER, reason_OTHER / STAFFING, reason_OTHER/STAFFING, reason_OTHER:Fire, reason_OTHER:WAKE TURB, reason_RUNWAY CONSTRUCTION, reason_RWY:Construction, reason_RWY:MULTI TAXI, reason_RWY:Noise Abatement, reason_RWY:Obstruction, reason_RWY:Rwy Change - Operational Advantage, reason_RWY:Rwy Change - Operational Necessity, reason_TM INITIATIVES:OTHER:HAVANA, reason_TM Initiatives:ESP: HAVANA RESTRICTION, reason_TM Initiatives:ESP:VOL, reason_TM Initiatives:MINIT:HAVANA AIRSPACE, reason_TM Initiatives:MINIT:VOL, reason_TM Initiatives:MIT:VOL, reason_TM Initiatives:MIT:WX, reason_TM Initiatives:Metering:VOL, reason_TM Initiatives:Other:HAVANA, reason_TM Initiatives:Other:VOL, reason_TM Initiatives:STOP:WX, reason_TM Initiatives:SWAP:WX, reason_VOL: DEP VOL & ARR CRO, reason_VOL:Compacted Demand, reason_VOL:Multi-taxi, reason_VOL:Volume, reason_VOLUME / COMPACTED DEMAND, reason_VOLUME / MULTI-TAXI, reason_VOLUME / VOLUME, reason_WEATHER / FOG, reason_WEATHER / LOW CEILINGS, reason_WEATHER / LOW VISIBILITY, reason_WEATHER / SNOW-ICE, reason_WEATHER / THUNDERSTORMS, reason_WEATHER / WIND, reason_WEATHER/THUNDERSTORMS, reason_WX/THUNDERSTORMS, reason_WX:CONFIG CHG, reason_WX:Fog, reason_WX:Low Ceilings, reason_WX:Thunderstorms, reason_WX:Wind, type_Arrival, type_Departure, type_Ground Delay, type_Ground Stop]
Index: []

[0 rows x 60 columns]

In [269]:
print(df_for_join.shape, r_t_dummies.shape)

((417, 2), (179, 57))

In [286]:
df_for_join_false = df_for_join[df_for_join['delay'] == False]

In [287]:
df_for_join_false.shape

(238, 2)

In [275]:
df_for_join.head(2)

           IATA  delay
date
2017-02-28  LAS  False
2017-02-19  DTW  False

In [276]:
r_t_dummies.head(2)

,IATA,delay,reason_AIRLINE REQ,reason_AIRLINE REQ.,reason_DAL AND DAL SUBS ONLY,reason_DAL AND SUB'S ONLY,reason_EQ:FAA,reason_EQUIPMENT / OUTAGE,reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE,reason_OTHER / OTHER,...,reason_WX/THUNDERSTORMS,reason_WX:CONFIG CHG,reason_WX:Fog,reason_WX:Low Ceilings,reason_WX:Thunderstorms,reason_WX:Wind,type_Arrival,type_Departure,type_Ground Delay,type_Ground Stop
date,,,,,,,,,,,,,,,,,,,,,
2017-02-24,PHL,True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2017-02-28,ORD,True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [295]:
test = df_for_join_false.append(r_t_dummies)

In [296]:
test.shape

(417, 57)

In [297]:
test = test.sort_index()

In [299]:
test = test.fillna(0)

In [300]:
test.tail(4)

,IATA,delay,reason_AIRLINE REQ,reason_AIRLINE REQ.,reason_DAL AND DAL SUBS ONLY,reason_DAL AND SUB'S ONLY,reason_EQ:FAA,reason_EQUIPMENT / OUTAGE,reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE,reason_OTHER / OTHER,...,reason_WX/THUNDERSTORMS,reason_WX:CONFIG CHG,reason_WX:Fog,reason_WX:Low Ceilings,reason_WX:Thunderstorms,reason_WX:Wind,type_Arrival,type_Departure,type_Ground Delay,type_Ground Stop
date,,,,,,,,,,,,,,,,,,,,,
2017-02-28,ORD,True,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2017-02-28,LAS,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-03-01,ATL,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-03-01,LAX,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [302]:
test.columns

Index([u'IATA', u'delay', u'reason_AIRLINE REQ', u'reason_AIRLINE REQ.',
       u'reason_DAL AND DAL SUBS ONLY', u'reason_DAL AND SUB'S ONLY',
       u'reason_EQ:FAA', u'reason_EQUIPMENT / OUTAGE',
       u'reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE',
       u'reason_OTHER / OTHER', u'reason_OTHER / STAFFING',
       u'reason_OTHER/STAFFING', u'reason_OTHER:Fire',
       u'reason_OTHER:WAKE TURB', u'reason_RUNWAY CONSTRUCTION',
       u'reason_RWY:Construction', u'reason_RWY:MULTI TAXI',
       u'reason_RWY:Noise Abatement', u'reason_RWY:Obstruction',
       u'reason_RWY:Rwy Change - Operational Advantage',
       u'reason_RWY:Rwy Change - Operational Necessity',
       u'reason_TM INITIATIVES:OTHER:HAVANA',
       u'reason_TM Initiatives:ESP: HAVANA RESTRICTION',
       u'reason_TM Initiatives:ESP:VOL',
       u'reason_TM Initiatives:MINIT:HAVANA AIRSPACE',
       u'reason_TM Initiatives:MINIT:VOL', u'reason_TM Initiatives:MIT:VOL',
       u'reason_TM Initiatives:MIT:WX', u'reason_TM Initiatives:Metering:VOL',
       u'reason_TM Initiatives:Other:HAVANA',
       u'reason_TM Initiatives:Other:VOL', u'reason_TM Initiatives:STOP:WX',
       u'reason_TM Initiatives:SWAP:WX', u'reason_VOL: DEP VOL & ARR CRO',
       u'reason_VOL:Compacted Demand', u'reason_VOL:Multi-taxi',
       u'reason_VOL:Volume', u'reason_VOLUME / COMPACTED DEMAND',
       u'reason_VOLUME / MULTI-TAXI', u'reason_VOLUME / VOLUME',
       u'reason_WEATHER / FOG', u'reason_WEATHER / LOW CEILINGS',
       u'reason_WEATHER / LOW VISIBILITY', u'reason_WEATHER / SNOW-ICE',
       u'reason_WEATHER / THUNDERSTORMS', u'reason_WEATHER / WIND',
       u'reason_WEATHER/THUNDERSTORMS', u'reason_WX/THUNDERSTORMS',
       u'reason_WX:CONFIG CHG', u'reason_WX:Fog', u'reason_WX:Low Ceilings',
       u'reason_WX:Thunderstorms', u'reason_WX:Wind', u'type_Arrival',
       u'type_Departure', u'type_Ground Delay', u'type_Ground Stop'],
      dtype='object')

In [310]:
reason_groups_summed = test.groupby([test.index, "IATA"]).sum()

In [311]:
reason_groups_summed.head(30)

                 delay  reason_AIRLINE REQ  reason_AIRLINE REQ.  \
date       IATA
2017-02-17 ATL     0.0                 0.0                  0.0
           BOS     0.0                 0.0                  0.0
           CLT     0.0                 0.0                  0.0
           DEN     0.0                 0.0                  0.0
           DFW     0.0                 0.0                  0.0
           DTW     0.0                 0.0                  0.0
           EWR     1.0                 0.0                  0.0
           IAH     0.0                 0.0                  0.0
           JFK     0.0                 0.0                  0.0
           LAS     0.0                 0.0                  0.0
           LAX     1.0                 0.0                  0.0
           LGA     1.0                 0.0                  0.0
           MCO     0.0                 0.0                  0.0
           MIA     0.0                 0.0                  0.0
           MSP     0.0                 0.0                  0.0
           ORD     0.0                 0.0                  0.0
           PHL     0.0                 0.0                  0.0
           PHX     0.0                 0.0                  0.0
           SEA     0.0                 0.0                  0.0
           SFO     1.0                 0.0                  0.0
2017-02-18 ATL     0.0                 0.0                  0.0
           BOS     0.0                 0.0                  0.0
           CLT     0.0                 0.0                  0.0
           DEN     0.0                 0.0                  0.0
           DFW     1.0                 0.0                  0.0
           DTW     0.0                 0.0                  0.0
           EWR     1.0                 0.0                  0.0
           IAH     0.0                 0.0                  0.0
           JFK     0.0                 0.0                  0.0
           LAS     1.0                 0.0                  0.0

                 reason_DAL AND DAL SUBS ONLY  reason_DAL AND SUB'S ONLY  \
date       IATA
2017-02-17 ATL                            0.0                        0.0
           BOS                            0.0                        0.0
           CLT                            0.0                        0.0
           DEN                            0.0                        0.0
           DFW                            0.0                        0.0
           DTW                            0.0                        0.0
           EWR                            0.0                        0.0
           IAH                            0.0                        0.0
           JFK                            0.0                        0.0
           LAS                            0.0                        0.0
           LAX                            0.0                        0.0
           LGA                            0.0                        0.0
           MCO                            0.0                        0.0
           MIA                            0.0                        0.0
           MSP                            0.0                        0.0
           ORD                            0.0                        0.0
           PHL                            0.0                        0.0
           PHX                            0.0                        0.0
           SEA                            0.0                        0.0
           SFO                            0.0                        0.0
2017-02-18 ATL                            0.0                        0.0
           BOS                            0.0                        0.0
           CLT                            0.0                        0.0
           DEN                            0.0                        0.0
           DFW                            0.0                        0.0
           DTW                            0.0                        0.0
           EWR                            0.0                        0.0
           IAH                            0.0                        0.0
           JFK                            0.0                        0.0
           LAS                            0.0                        0.0

                 reason_EQ:FAA  reason_EQUIPMENT / OUTAGE  \
date       IATA
2017-02-17 ATL             0.0                        0.0
           BOS             0.0                        0.0
           CLT             0.0                        0.0
           DEN             0.0                        0.0
           DFW             0.0                        0.0
           DTW             0.0                        0.0
           EWR             0.0                        0.0
           IAH             0.0                        0.0
           JFK             0.0                        0.0
           LAS             0.0                        0.0
           LAX             0.0                        0.0
           LGA             0.0                        0.0
           MCO             0.0                        0.0
           MIA             0.0                        0.0
           MSP             0.0                        0.0
           ORD             0.0                        0.0
           PHL             0.0                        0.0
           PHX             0.0                        0.0
           SEA             0.0                        0.0
           SFO             0.0                        0.0
2017-02-18 ATL             0.0                        0.0
           BOS             0.0                        0.0
           CLT             0.0                        0.0
           DEN             0.0                        0.0
           DFW             0.0                        0.0
           DTW             0.0                        0.0
           EWR             0.0                        0.0
           IAH             0.0                        0.0
           JFK             0.0                        0.0
           LAS             0.0                        0.0

                 reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE  \
date       IATA
2017-02-17 ATL                                                 0.0
           BOS                                                 0.0
           CLT                                                 0.0
           DEN                                                 0.0
           DFW                                                 0.0
           DTW                                                 0.0
           EWR                                                 0.0
           IAH                                                 0.0
           JFK                                                 0.0
           LAS                                                 0.0
           LAX                                                 0.0
           LGA                                                 0.0
           MCO                                                 0.0
           MIA                                                 0.0
           MSP                                                 0.0
           ORD                                                 0.0
           PHL                                                 0.0
           PHX                                                 0.0
           SEA                                                 0.0
           SFO                                                 0.0
2017-02-18 ATL                                                 0.0
           BOS                                                 0.0
           CLT                                                 0.0
           DEN                                                 0.0
           DFW                                                 0.0
           DTW                                                 0.0
           EWR                                                 0.0
           IAH                                                 0.0
           JFK                                                 0.0
           LAS                                                 0.0

                 reason_OTHER / OTHER  reason_OTHER / STAFFING  \
date       IATA
2017-02-17 ATL                    0.0                      0.0
           BOS                    0.0                      0.0
           CLT                    0.0                      0.0
           DEN                    0.0                      0.0
           DFW                    0.0                      0.0
           DTW                    0.0                      0.0
           EWR                    0.0                      0.0
           IAH                    0.0                      0.0
           JFK                    0.0                      0.0
           LAS                    0.0                      0.0
           LAX                    0.0                      0.0
           LGA                    0.0                      0.0
           MCO                    0.0                      0.0
           MIA                    0.0                      0.0
           MSP                    0.0                      0.0
           ORD                    0.0                      0.0
           PHL                    0.0                      0.0
           PHX                    0.0                      0.0
           SEA                    0.0                      0.0
           SFO                    0.0                      0.0
2017-02-18 ATL                    0.0                      0.0
           BOS                    0.0                      0.0
           CLT                    0.0                      0.0
           DEN                    0.0                      0.0
           DFW                    0.0                      0.0
           DTW                    0.0                      0.0
           EWR                    0.0                      0.0
           IAH                    0.0                      0.0
           JFK                    0.0                      0.0
           LAS                    0.0                      0.0

                       ...         reason_WX/THUNDERSTORMS  \
date       IATA        ...
2017-02-17 ATL         ...                             0.0
           BOS         ...                             0.0
           CLT         ...                             0.0
           DEN         ...                             0.0
           DFW         ...                             0.0
           DTW         ...                             0.0
           EWR         ...                             0.0
           IAH         ...                             0.0
           JFK         ...                             0.0
           LAS         ...                             0.0
           LAX         ...                             0.0
           LGA         ...                             0.0
           MCO         ...                             0.0
           MIA         ...                             0.0
           MSP         ...                             0.0
           ORD         ...                             0.0
           PHL         ...                             0.0
           PHX         ...                             0.0
           SEA         ...                             0.0
           SFO         ...                             0.0
2017-02-18 ATL         ...                             0.0
           BOS         ...                             0.0
           CLT         ...                             0.0
           DEN         ...                             0.0
           DFW         ...                             0.0
           DTW         ...                             0.0
           EWR         ...                             0.0
           IAH         ...                             0.0
           JFK         ...                             0.0
           LAS         ...                             0.0

                 reason_WX:CONFIG CHG  reason_WX:Fog  reason_WX:Low Ceilings  \
date       IATA
2017-02-17 ATL                    0.0            0.0                     0.0
           BOS                    0.0            0.0                     0.0
           CLT                    0.0            0.0                     0.0
           DEN                    0.0            0.0                     0.0
           DFW                    0.0            0.0                     0.0
           DTW                    0.0            0.0                     0.0
           EWR                    0.0            0.0                     0.0
           IAH                    0.0            0.0                     0.0
           JFK                    0.0            0.0                     0.0
           LAS                    0.0            0.0                     0.0
           LAX                    0.0            0.0                     0.0
           LGA                    0.0            0.0                     0.0
           MCO                    0.0            0.0                     0.0
           MIA                    0.0            0.0                     0.0
           MSP                    0.0            0.0                     0.0
           ORD                    0.0            0.0                     0.0
           PHL                    0.0            0.0                     0.0
           PHX                    0.0            0.0                     0.0
           SEA                    0.0            0.0                     0.0
           SFO                    0.0            0.0                     0.0
2017-02-18 ATL                    0.0            0.0                     0.0
           BOS                    0.0            0.0                     0.0
           CLT                    0.0            0.0                     0.0
           DEN                    0.0            0.0                     0.0
           DFW                    0.0            0.0                     0.0
           DTW                    0.0            0.0                     0.0
           EWR                    0.0            0.0                     0.0
           IAH                    0.0            0.0                     0.0
           JFK                    0.0            0.0                     0.0
           LAS                    0.0            0.0                     0.0

                 reason_WX:Thunderstorms  reason_WX:Wind  type_Arrival  \
date       IATA
2017-02-17 ATL                       0.0             0.0           0.0
           BOS                       0.0             0.0           0.0
           CLT                       0.0             0.0           0.0
           DEN                       0.0             0.0           0.0
           DFW                       0.0             0.0           0.0
           DTW                       0.0             0.0           0.0
           EWR                       0.0             0.0           0.0
           IAH                       0.0             0.0           0.0
           JFK                       0.0             0.0           0.0
           LAS                       0.0             0.0           0.0
           LAX                       0.0             0.0           0.0
           LGA                       0.0             0.0           0.0
           MCO                       0.0             0.0           0.0
           MIA                       0.0             0.0           0.0
           MSP                       0.0             0.0           0.0
           ORD                       0.0             0.0           0.0
           PHL                       0.0             0.0           0.0
           PHX                       0.0             0.0           0.0
           SEA                       0.0             0.0           0.0
           SFO                       0.0             0.0           0.0
2017-02-18 ATL                       0.0             0.0           0.0
           BOS                       0.0             0.0           0.0
           CLT                       0.0             0.0           0.0
           DEN                       0.0             0.0           0.0
           DFW                       0.0             0.0           0.0
           DTW                       0.0             0.0           0.0
           EWR                       0.0             0.0           0.0
           IAH                       0.0             0.0           0.0
           JFK                       0.0             0.0           0.0
           LAS                       0.0             0.0           0.0

                 type_Departure  type_Ground Delay  type_Ground Stop
date       IATA
2017-02-17 ATL              0.0                0.0               0.0
           BOS              0.0                0.0               0.0
           CLT              0.0                0.0               0.0
           DEN              0.0                0.0               0.0
           DFW              0.0                0.0               0.0
           DTW              0.0                0.0               0.0
           EWR              0.0                1.0               0.0
           IAH              0.0                0.0               0.0
           JFK              0.0                0.0               0.0
           LAS              0.0                0.0               0.0
           LAX              0.0                1.0               0.0
           LGA              0.0                1.0               0.0
           MCO              0.0                0.0               0.0
           MIA              0.0                0.0               0.0
           MSP              0.0                0.0               0.0
           ORD              0.0                0.0               0.0
           PHL              0.0                0.0               0.0
           PHX              0.0                0.0               0.0
           SEA              0.0                0.0               0.0
           SFO              0.0                1.0               0.0
2017-02-18 ATL              0.0                0.0               0.0
           BOS              0.0                0.0               0.0
           CLT              0.0                0.0               0.0
           DEN              0.0                0.0               0.0
           DFW              1.0                0.0               0.0
           DTW              0.0                0.0               0.0
           EWR              0.0                1.0               0.0
           IAH              0.0                0.0               0.0
           JFK              0.0                0.0               0.0
           LAS              0.0                0.0               1.0

[30 rows x 56 columns]

> Table above has aggregated about daily delays for each of the airports

In [320]:
import numpy as np

In [323]:
np.sum(reason_groups_summed, axis=0)

delay                                                  179.0
reason_AIRLINE REQ                                       2.0
reason_AIRLINE REQ.                                      2.0
reason_DAL AND DAL SUBS ONLY                             2.0
reason_DAL AND SUB'S ONLY                                1.0
reason_EQ:FAA                                            1.0
reason_EQUIPMENT / OUTAGE                                5.0
reason_EQUIPMENT / OUTAGE \$1AIRLINE COMPUTER ISSUE      1.0
reason_OTHER / OTHER                                     2.0
reason_OTHER / STAFFING                                  1.0
reason_OTHER/STAFFING                                    1.0
reason_OTHER:Fire                                        1.0
reason_OTHER:WAKE TURB                                   1.0
reason_RUNWAY CONSTRUCTION                               2.0
reason_RWY:Construction                                  1.0
reason_RWY:MULTI TAXI                                    1.0
reason_RWY:Noise Abatement                               1.0
reason_RWY:Obstruction                                   1.0
reason_RWY:Rwy Change - Operational Advantage            2.0
reason_RWY:Rwy Change - Operational Necessity            1.0
reason_TM INITIATIVES:OTHER:HAVANA                       5.0
reason_TM Initiatives:ESP: HAVANA RESTRICTION            2.0
reason_TM Initiatives:ESP:VOL                            3.0
reason_TM Initiatives:MINIT:HAVANA AIRSPACE              1.0
reason_TM Initiatives:MINIT:VOL                          7.0
reason_TM Initiatives:MIT:VOL                            8.0
reason_TM Initiatives:MIT:WX                             1.0
reason_TM Initiatives:Metering:VOL                       2.0
reason_TM Initiatives:Other:HAVANA                       7.0
reason_TM Initiatives:Other:VOL                          2.0
reason_TM Initiatives:STOP:WX                            1.0
reason_TM Initiatives:SWAP:WX                            5.0
reason_VOL: DEP VOL & ARR CRO                            1.0
reason_VOL:Compacted Demand                              8.0
reason_VOL:Multi-taxi                                   14.0
reason_VOL:Volume                                        8.0
reason_VOLUME / COMPACTED DEMAND                         4.0
reason_VOLUME / MULTI-TAXI                               1.0
reason_VOLUME / VOLUME                                   4.0
reason_WEATHER / FOG                                     3.0
reason_WEATHER / LOW CEILINGS                           11.0
reason_WEATHER / LOW VISIBILITY                          2.0
reason_WEATHER / SNOW-ICE                                1.0
reason_WEATHER / THUNDERSTORMS                          16.0
reason_WEATHER / WIND                                   22.0
reason_WEATHER/THUNDERSTORMS                             1.0
reason_WX/THUNDERSTORMS                                  1.0
reason_WX:CONFIG CHG                                     1.0
reason_WX:Fog                                            2.0
reason_WX:Low Ceilings                                   3.0
reason_WX:Thunderstorms                                  2.0
reason_WX:Wind                                           1.0
type_Arrival                                             6.0
type_Departure                                          88.0
type_Ground Delay                                       46.0
type_Ground Stop                                        39.0
dtype: float64

In [335]:
len(reason_groups_summed.columns)

56

In [324]:
columns = reason_groups_summed.columns

In [331]:
len(columns)

56

In [338]:
for i, c in enumerate(columns):
    print(i+3, c.lower().replace(" ","_").replace("\$1", "-").replace(".", "-")\
          .replace("/",  "-").replace("&", "-").replace(":",  "-")\
          .replace("'","-").replace("_-_", "_").replace("-", "_"))

(3, 'delay')
(4, 'reason_airline_req')
(5, 'reason_airline_req_')
(6, 'reason_dal_and_dal_subs_only')
(7, 'reason_dal_and_sub_s_only')
(8, 'reason_eq_faa')
(9, 'reason_equipment_outage')
(10, 'reason_equipment_outage__airline_computer_issue')
(11, 'reason_other_other')
(12, 'reason_other_staffing')
(13, 'reason_other_staffing')
(14, 'reason_other_fire')
(15, 'reason_other_wake_turb')
(16, 'reason_runway_construction')
(17, 'reason_rwy_construction')
(18, 'reason_rwy_multi_taxi')
(19, 'reason_rwy_noise_abatement')
(20, 'reason_rwy_obstruction')
(21, 'reason_rwy_rwy_change_operational_advantage')
(22, 'reason_rwy_rwy_change_operational_necessity')
(23, 'reason_tm_initiatives_other_havana')
(24, 'reason_tm_initiatives_esp__havana_restriction')
(25, 'reason_tm_initiatives_esp_vol')
(26, 'reason_tm_initiatives_minit_havana_airspace')
(27, 'reason_tm_initiatives_minit_vol')
(28, 'reason_tm_initiatives_mit_vol')
(29, 'reason_tm_initiatives_mit_wx')
(30, 'reason_tm_initiatives_metering_vol')
(31, 'reason_tm_initiatives_other_havana')
(32, 'reason_tm_initiatives_other_vol')
(33, 'reason_tm_initiatives_stop_wx')
(34, 'reason_tm_initiatives_swap_wx')
(35, 'reason_vol__dep_vol_arr_cro')
(36, 'reason_vol_compacted_demand')
(37, 'reason_vol_multi_taxi')
(38, 'reason_vol_volume')
(39, 'reason_volume_compacted_demand')
(40, 'reason_volume_multi_taxi')
(41, 'reason_volume_volume')
(42, 'reason_weather_fog')
(43, 'reason_weather_low_ceilings')
(44, 'reason_weather_low_visibility')
(45, 'reason_weather_snow_ice')
(46, 'reason_weather_thunderstorms')
(47, 'reason_weather_wind')
(48, 'reason_weather_thunderstorms')
(49, 'reason_wx_thunderstorms')
(50, 'reason_wx_config_chg')
(51, 'reason_wx_fog')
(52, 'reason_wx_low_ceilings')
(53, 'reason_wx_thunderstorms')
(54, 'reason_wx_wind')
(55, 'type_arrival')
(56, 'type_departure')
(57, 'type_ground_delay')
(58, 'type_ground_stop')

In [312]:
reason_groups_summed.to_csv("delays_all.csv", header=False)

In [317]:
! cat delays_all.csv | head -n 20

2017-02-17,ATL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,BOS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,CLT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,DEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,DFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,DTW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,EWR,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2017-02-17,IAH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,JFK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,LAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,LAX,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2017-02-17,LGA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2017-02-17,MCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,MIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,MSP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,ORD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,PHL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,PHX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,SEA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,SFO,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [332]:
d = ["2017-02-17","SFO",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0]

In [333]:
len(d)

58

In [313]:
reason_groups_summed.to_csv("delays_all_headers.csv", header=True)

## joining rows approach

In [214]:
df_reason_cat = df_reason.groupby([df_reason.index, df_reason.IATA])["reason"].apply(lambda x: x.str.cat(sep=", "))

In [215]:
df_type_cat = df_reason.groupby([df_reason.index, df_reason.IATA])["type"].apply(lambda x: x.str.cat(sep=", "))

In [216]:
df_reason_cat.tail()

date        IATA
2017-02-28  ORD     WEATHER/THUNDERSTORMS, WEATHER / THUNDERSTORMS...
            PHL                                        VOL:Multi-taxi
            PHX                                       WX:Low Ceilings
            SEA                                        WEATHER / WIND
            SFO                                   RWY:Noise Abatement
Name: reason, dtype: object

In [217]:
df_type_cat.tail()

date        IATA
2017-02-28  ORD     Ground Stop, Ground Delay, Ground Stop
            PHL                                  Departure
            PHX                                  Departure
            SEA                                Ground Stop
            SFO                                  Departure
Name: type, dtype: object

## might need to eliminate duplicate reasons

### Need to join reasons to delay table

In [193]:
df_reason = df.groupby([df.index, df.IATA, df.reason])

In [199]:
df_reason.reason.count()

date        IATA  reason
2017-02-17  ATL   No known delays for this airport.    1
            BOS   No known delays for this airport.    1
            CLT   No known delays for this airport.    1
            DEN   No known delays for this airport.    1
            DFW   No known delays for this airport.    1
            DTW   No known delays for this airport.    1
            EWR   WEATHER / WIND                       1
            IAH   No known delays for this airport.    1
            JFK   No known delays for this airport.    1
            LAS   No known delays for this airport.    1
            LAX   WEATHER / WIND                       1
            LGA   WEATHER / WIND                       1
            MCO   No known delays for this airport.    1
            MIA   No known delays for this airport.    1
            MSP   No known delays for this airport.    1
            ORD   No known delays for this airport.    1
            PHL   No known delays for this airport.    1
            PHX   No known delays for this airport.    1
            SEA   No known delays for this airport.    1
            SFO   WEATHER / WIND                       1
2017-02-18  ATL   No known delays for this airport.    1
            BOS   No known delays for this airport.    1
            CLT   No known delays for this airport.    1
            DEN   No known delays for this airport.    1
            DFW   No known delays for this airport.    1
                  VOL:Multi-taxi                       1
            DTW   No known delays for this airport.    1
            EWR   No known delays for this airport.    1
                  WEATHER / WIND                       1
            IAH   No known delays for this airport.    1
                                                      ..
2017-02-28  EWR   No known delays for this airport.    1
                  WEATHER / LOW CEILINGS               1
                  WEATHER / WIND                       1
            IAH   No known delays for this airport.    1
            JFK   No known delays for this airport.    1
                  RUNWAY CONSTRUCTION                  1
                  WEATHER / LOW CEILINGS               1
            LAS   No known delays for this airport.    1
            LAX   No known delays for this airport.    1
            LGA   No known delays for this airport.    1
                  WEATHER / LOW CEILINGS               2
            MCO   No known delays for this airport.    1
            MIA   No known delays for this airport.    1
                  TM INITIATIVES:OTHER:HAVANA          1
                  TM Initiatives:Other:HAVANA          1
                  VOL:Multi-taxi                       1
            MSP   No known delays for this airport.    1
            ORD   No known delays for this airport.    1
                  WEATHER / THUNDERSTORMS              2
                  WEATHER/THUNDERSTORMS                1
            PHL   No known delays for this airport.    1
                  VOL:Multi-taxi                       1
            PHX   No known delays for this airport.    1
                  WX:Low Ceilings                      1
            SEA   No known delays for this airport.    1
                  WEATHER / WIND                       1
            SFO   No known delays for this airport.    1
                  RWY:Noise Abatement                  1
2017-03-01  ATL   No known delays for this airport.    1
            LAX   No known delays for this airport.    1
Name: reason, dtype: int64

## Write table that contains hourly delays

In [3]:
df = pd.read_csv("https://s3.amazonaws.com/delays-project-parquet/splittedone.csv/part-00000-0ce6c47d-2515-4fdb-a6c3-d364b822b530.csv", header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2017-02-28,18:30:03.324286,LAS,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
1,2017-02-19,02:10:05.823714,DTW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
2,2017-02-26,17:20:02.349036,DFW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
3,2017-02-26,15:00:06.175098,DTW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
4,2017-02-26,15:10:04.450809,SEA,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN

In [5]:
cols = ["date", "time", "IATA", "delay", "avgDelay", "closureBegin", "closureEnd", "endTime", "maxDelays", "minDelays", "reason", "trend", "type"]

In [6]:
df.columns = cols

In [7]:
df.delay = df.delay.astype('bool')

In [8]:
df.date = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [9]:
# df.time = pd.to_datetime(df['time'], format='%H:%M:%S.%f').dt.time()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31838 entries, 0 to 31837
Data columns (total 13 columns):
date            31837 non-null datetime64[ns]
time            31837 non-null object
IATA            31837 non-null object
delay           31838 non-null bool
avgDelay        1321 non-null object
closureBegin    0 non-null float64
closureEnd      0 non-null float64
endTime         259 non-null object
maxDelays       534 non-null object
minDelays       534 non-null object
reason          31837 non-null object
trend           534 non-null object
type            2114 non-null object
dtypes: bool(1), datetime64[ns](1), float64(2), object(9)
memory usage: 2.9+ MB

In [11]:
df.head()

,date,time,IATA,delay,avgDelay,closureBegin,closureEnd,endTime,maxDelays,minDelays,reason,trend,type
0,2017-02-28,18:30:03.324286,LAS,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
1,2017-02-19,02:10:05.823714,DTW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
2,2017-02-26,17:20:02.349036,DFW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
3,2017-02-26,15:00:06.175098,DTW,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN
4,2017-02-26,15:10:04.450809,SEA,False,NaN,NaN,NaN,NaN,NaN,NaN,No known delays for this airport.,NaN,NaN

In [12]:
df2 =  df.copy()

In [13]:
df2.fillna(0, inplace=True)

In [14]:
df2.tail()

,date,time,IATA,delay,avgDelay,closureBegin,closureEnd,endTime,maxDelays,minDelays,reason,trend,type
31833,2017-02-27,01:30:02.089538,ORD,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
31834,2017-02-19,19:40:03.698678,CLT,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
31835,2017-02-26,18:50:06.541799,LGA,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
31836,2017-02-24,04:30:06.879451,BOS,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
31837,2017-02-28,16:00:05.817315,LGA,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0

In [15]:
df.groupby(["IATA", "date", "delay"]).count()

                       time  avgDelay  closureBegin  closureEnd  endTime  \
IATA date       delay
ATL  2017-02-17 False    28         0             0           0        0
     2017-02-18 False   143         0             0           0        0
     2017-02-19 False   143         0             0           0        0
     2017-02-20 False   142         0             0           0        0
     2017-02-21 False   140         0             0           0        0
     2017-02-22 False   144         0             0           0        0
     2017-02-23 False   141         0             0           0        0
     2017-02-24 False   143         0             0           0        0
     2017-02-25 False   141         0             0           0        0
     2017-02-26 False   141         0             0           0        0
     2017-02-27 False   143         0             0           0        0
     2017-02-28 False   143         0             0           0        0
     2017-03-01 False     1         0             0           0        0
BOS  2017-02-17 False    28         0             0           0        0
     2017-02-18 False   142         0             0           0        0
     2017-02-19 False   144         0             0           0        0
     2017-02-20 False   144         0             0           0        0
     2017-02-21 False   143         0             0           0        0
     2017-02-22 False   142         0             0           0        0
     2017-02-23 False   142         0             0           0        0
     2017-02-24 False   128         0             0           0        0
                True     15         0             0           0        0
     2017-02-25 False   143         0             0           0        0
     2017-02-26 False   143         0             0           0        0
     2017-02-27 False   141         0             0           0        0
     2017-02-28 False   140         0             0           0        0
CLT  2017-02-17 False    28         0             0           0        0
     2017-02-18 False   144         0             0           0        0
     2017-02-19 False   144         0             0           0        0
     2017-02-20 False   143         0             0           0        0
...                     ...       ...           ...         ...      ...
SEA  2017-02-21 True      4         0             0           0        0
     2017-02-22 False   138         0             0           0        0
                True      4         0             0           0        0
     2017-02-23 False   135         0             0           0        0
                True      4         0             0           0        0
     2017-02-24 False   142         0             0           0        0
     2017-02-25 False   141         0             0           0        0
     2017-02-26 False   143         0             0           0        0
     2017-02-27 False   141         0             0           0        0
     2017-02-28 False   138         0             0           0        0
                True      4         0             0           0        4
SFO  2017-02-17 True     28        28             0           0        0
     2017-02-18 False    69         0             0           0        0
                True     75        75             0           0        0
     2017-02-19 False    85         0             0           0        0
                True     59        59             0           0        0
     2017-02-20 False    34         0             0           0        0
                True    109       109             0           0        0
     2017-02-21 False    54         0             0           0        0
                True     87        81             0           0        5
     2017-02-22 False   143         0             0           0        0
     2017-02-23 False   138         0             0           0        0
     2017-02-24 False   143         0             0           0        0
     2017-02-25 False   141         0             0           0        0
     2017-02-26 False   138         0             0           0        0
                True      1         0             0           0        0
     2017-02-27 False   138         0             0           0        0
                True      3         0             0           0        3
     2017-02-28 False   139         0             0           0        0
                True      3         0             0           0        0

                       maxDelays  minDelays  reason  trend  type
IATA date       delay
ATL  2017-02-17 False          0          0      28      0     0
     2017-02-18 False          0          0     143      0     0
     2017-02-19 False          0          0     143      0     0
     2017-02-20 False          0          0     142      0     0
     2017-02-21 False          0          0     140      0     0
     2017-02-22 False          0          0     144      0     0
     2017-02-23 False          0          0     141      0     0
     2017-02-24 False          0          0     143      0     0
     2017-02-25 False          0          0     141      0     0
     2017-02-26 False          0          0     141      0     0
     2017-02-27 False          0          0     143      0     0
     2017-02-28 False          0          0     143      0     0
     2017-03-01 False          0          0       1      0     0
BOS  2017-02-17 False          0          0      28      0     0
     2017-02-18 False          0          0     142      0     0
     2017-02-19 False          0          0     144      0     0
     2017-02-20 False          0          0     144      0     0
     2017-02-21 False          0          0     143      0     0
     2017-02-22 False          0          0     142      0     0
     2017-02-23 False          0          0     142      0     0
     2017-02-24 False          0          0     128      0     0
                True          15         15      15     15    15
     2017-02-25 False          0          0     143      0     0
     2017-02-26 False          0          0     143      0     0
     2017-02-27 False          0          0     141      0     0
     2017-02-28 False          0          0     140      0     0
CLT  2017-02-17 False          0          0      28      0     0
     2017-02-18 False          0          0     144      0     0
     2017-02-19 False          0          0     144      0     0
     2017-02-20 False          0          0     143      0     0
...                          ...        ...     ...    ...   ...
SEA  2017-02-21 True           4          4       4      4     4
     2017-02-22 False          0          0     138      0     0
                True           4          4       4      4     4
     2017-02-23 False          0          0     135      0     0
                True           4          4       4      4     4
     2017-02-24 False          0          0     142      0     0
     2017-02-25 False          0          0     141      0     0
     2017-02-26 False          0          0     143      0     0
     2017-02-27 False          0          0     141      0     0
     2017-02-28 False          0          0     138      0     0
                True           0          0       4      0     4
SFO  2017-02-17 True           0          0      28      0    28
     2017-02-18 False          0          0      69      0     0
                True           0          0      75      0    75
     2017-02-19 False          0          0      85      0     0
                True           0          0      59      0    59
     2017-02-20 False          0          0      34      0     0
                True           0          0     109      0   109
     2017-02-21 False          0          0      54      0     0
                True           1          1      87      1    87
     2017-02-22 False          0          0     143      0     0
     2017-02-23 False          0          0     138      0     0
     2017-02-24 False          0          0     143      0     0
     2017-02-25 False          0          0     141      0     0
     2017-02-26 False          0          0     138      0     0
                True           1          1       1      1     1
     2017-02-27 False          0          0     138      0     0
                True           0          0       3      0     3
     2017-02-28 False          0          0     139      0     0
                True           3          3       3      3     3

[330 rows x 10 columns]

In [18]:
df2[df2['IATA'] == 'SFO'].head()

,date,time,IATA,delay,avgDelay,closureBegin,closureEnd,endTime,maxDelays,minDelays,reason,trend,type
11,2017-02-25,11:20:02.969360,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
48,2017-02-27,00:10:04.513344,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
76,2017-02-18,01:00:03.974694,SFO,True,3 hours and 19 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
81,2017-02-22,19:30:04.030529,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
113,2017-02-19,00:10:03.282618,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0

In [19]:
df2[(df2["date"] == '2017-02-19') & (df2['IATA'] == 'SFO')].head()

,date,time,IATA,delay,avgDelay,closureBegin,closureEnd,endTime,maxDelays,minDelays,reason,trend,type
113,2017-02-19,00:10:03.282618,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
219,2017-02-19,08:20:04.189047,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
393,2017-02-19,12:10:03.031218,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
497,2017-02-19,02:30:02.888428,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
791,2017-02-19,21:10:03.671004,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay

In [23]:
day19 = df2[(df2["date"] == '2017-02-19') & (df2['IATA'] == 'SFO')]

In [27]:
day19 = day19.set_index("time")

In [29]:
day19.sort_index()

,date,IATA,delay,avgDelay,closureBegin,closureEnd,endTime,maxDelays,minDelays,reason,trend,type
time,,,,,,,,,,,,
00:00:03.846738,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
00:10:03.282618,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
00:20:03.652265,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
00:30:03.475357,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
00:40:03.156805,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
00:50:03.030292,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
01:00:03.506242,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
01:10:03.719623,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
01:20:03.639463,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
01:30:03.463398,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
01:40:03.958403,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
01:50:03.312980,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
02:00:03.628866,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
02:10:02.867628,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
02:20:03.625709,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
02:30:02.888428,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
02:40:03.291228,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
02:50:03.930891,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
03:00:02.719103,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
03:10:03.000106,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
03:20:03.188068,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
03:30:03.364124,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
03:40:02.765651,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
03:50:03.145710,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
04:00:03.603218,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
04:10:03.624970,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
04:20:02.990154,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
04:30:03.748463,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
04:40:04.052074,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
04:50:03.084998,2017-02-19,SFO,False,0,0.0,0.0,0,0,0,No known delays for this airport.,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19:00:08.262038,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
19:10:03.853398,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
19:20:03.132783,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
19:30:03.624997,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
19:40:03.418915,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
19:50:03.435336,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
20:00:04.500446,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
20:10:03.793903,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
20:20:03.607325,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
20:30:02.714143,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
20:40:03.229420,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
20:50:03.871304,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
21:00:03.674556,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
21:10:03.671004,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
21:20:03.300422,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
21:30:03.463522,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
21:40:03.024695,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
21:50:03.122569,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
22:00:03.344433,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
22:10:03.806770,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
22:20:03.357479,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
22:30:03.469723,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
22:40:03.337059,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
22:50:03.693804,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
23:00:07.145684,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
23:10:02.923428,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
23:20:03.262823,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
23:30:03.844760,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
23:40:03.959097,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay
23:50:03.646811,2017-02-19,SFO,True,1 hour and 55 minutes,0.0,0.0,0,0,0,WEATHER / WIND,0,Ground Delay

In [32]:
day19 = day19[day19['delay'] == True].sort_index()

In [38]:
day19[["avgDelay", "delay", "reason", "type"]].drop_duplicates()

                              avgDelay delay          reason          type
time
14:10:02.951485  1 hour and 55 minutes  True  WEATHER / WIND  Ground Delay

> This is how I can get daily info

In [40]:
df3 = df2[df2['IATA'] == 'SFO']

In [43]:
sfo = df3[["date", "delay", "reason", "type"]].drop_duplicates()

In [45]:
sfo = sfo.set_index("date")

In [46]:
sfo.head()

            delay                             reason          type
date
2017-02-25  False  No known delays for this airport.             0
2017-02-27  False  No known delays for this airport.             0
2017-02-18   True                     WEATHER / WIND  Ground Delay
2017-02-22  False  No known delays for this airport.             0
2017-02-19  False  No known delays for this airport.             0

In [47]:
sfo.sort_index()

            delay                             reason          type
date
2017-02-17   True                     WEATHER / WIND  Ground Delay
2017-02-18   True                     WEATHER / WIND  Ground Delay
2017-02-18   True             WEATHER / LOW CEILINGS  Ground Delay
2017-02-18  False  No known delays for this airport.             0
2017-02-19  False  No known delays for this airport.             0
2017-02-19   True                     WEATHER / WIND  Ground Delay
2017-02-20   True                     WEATHER / WIND  Ground Delay
2017-02-20  False  No known delays for this airport.             0
2017-02-21  False  No known delays for this airport.             0
2017-02-21   True             WEATHER / LOW CEILINGS   Ground Stop
2017-02-21   True                     WEATHER / WIND  Ground Delay
2017-02-21   True               VOL:Compacted Demand     Departure
2017-02-22  False  No known delays for this airport.             0
2017-02-23  False  No known delays for this airport.             0
2017-02-24  False  No known delays for this airport.             0
2017-02-25  False  No known delays for this airport.             0
2017-02-26  False  No known delays for this airport.             0
2017-02-26   True                     VOL:Multi-taxi     Departure
2017-02-27  False  No known delays for this airport.             0
2017-02-27   True             WEATHER / LOW CEILINGS   Ground Stop
2017-02-28  False  No known delays for this airport.             0
2017-02-28   True                RWY:Noise Abatement     Departure

> Need to make one row per day

In [49]:
sfo_daily = sfo.groupby(sfo.index)["delay"].sum()

In [50]:
sfo_daily

date
2017-02-17    1.0
2017-02-18    2.0
2017-02-19    1.0
2017-02-20    1.0
2017-02-21    3.0
2017-02-22    0.0
2017-02-23    0.0
2017-02-24    0.0
2017-02-25    0.0
2017-02-26    1.0
2017-02-27    1.0
2017-02-28    1.0
Name: delay, dtype: float64

In [53]:
sfo_daily[sfo_daily > 0] = 1

In [54]:
sfo_daily

date
2017-02-17    1.0
2017-02-18    1.0
2017-02-19    1.0
2017-02-20    1.0
2017-02-21    1.0
2017-02-22    0.0
2017-02-23    0.0
2017-02-24    0.0
2017-02-25    0.0
2017-02-26    1.0
2017-02-27    1.0
2017-02-28    1.0
Name: delay, dtype: float64

In [55]:
df4 = df2[df2['IATA'] == 'MIA']

In [56]:
mia = df4[["date", "delay", "reason", "type"]].drop_duplicates()

In [57]:
mia = mia.set_index("date")

In [59]:
mia_daily = mia.groupby(mia.index)["delay"].sum()

In [60]:
mia_daily

date
2017-02-17    0.0
2017-02-18    2.0
2017-02-19    2.0
2017-02-20    3.0
2017-02-21    3.0
2017-02-22    5.0
2017-02-23    2.0
2017-02-24    3.0
2017-02-25    4.0
2017-02-26    4.0
2017-02-27    2.0
2017-02-28    3.0
Name: delay, dtype: float64

In [61]:
mia_daily[mia_daily > 0] = 1

In [62]:
mia_daily

date
2017-02-17    0.0
2017-02-18    1.0
2017-02-19    1.0
2017-02-20    1.0
2017-02-21    1.0
2017-02-22    1.0
2017-02-23    1.0
2017-02-24    1.0
2017-02-25    1.0
2017-02-26    1.0
2017-02-27    1.0
2017-02-28    1.0
Name: delay, dtype: float64

> I have binary daily delays. I should get:
+ average delays
+ reason aggregation

> I need to add daily weather

# Display map with report

### areas already defined in map

In [66]:
import requests
# from urllib.request import urlopen
# from urllib.parse import urlparse
from bs4 import BeautifulSoup

ImportError: No module named bs4

### areas that need to be updated with status

### Loading Weather

In [89]:
import pandas as pd

In [102]:
df = pd.read_csv("weather_splitted.csv", header=None)

In [103]:
df.head()

            0                1     2    3               4
0  2017-02-21  19:30:03.032806  66.0  CLT   1:52 PM Local
1  2017-02-21  19:40:02.949925  71.0  DEN  11:53 AM Local
2  2017-02-19  10:10:01.763900  50.0  LAX   1:53 AM Local
3  2017-02-25  09:00:02.466637  31.0  ORD   1:51 AM Local
4  2017-02-25  09:10:06.001757  42.0  DTW   3:53 AM Local

In [104]:
cols = ["date", "time", "tempF", "IATA", "updated"]

In [105]:
df.columns = cols

In [106]:
df.date = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [107]:
df.tail()

            date             time  tempF IATA         updated
27014 2017-02-26  22:30:01.900434   49.0  ORD   3:51 PM Local
27015 2017-02-26  10:50:04.968900   37.0  SEA  12:53 AM Local
27016 2017-02-18  13:50:02.956431   53.0  SFO   4:56 AM Local
27017 2017-02-23  00:00:02.754513   47.0  JFK   5:51 PM Local
27018 2017-02-23  06:30:06.378653   45.0  PHL  12:54 AM Local

In [108]:
df = df.set_index("date")

In [112]:
df.sort_index().head()

                       time  tempF IATA        updated
date
2017-02-17  22:00:03.038292   67.0  CLT  3:52 PM Local
2017-02-17  22:40:06.434997   46.0  DTW  4:53 PM Local
2017-02-17  21:20:02.582169   66.0  DEN  1:53 PM Local
2017-02-17  23:20:02.470789   65.0  ORD  4:51 PM Local
2017-02-17  20:50:02.403601   69.0  DFW  1:53 PM Local

In [ ]:
# df.time = pd.to_datetime(df['time'], format='%H:%M:%S.%f')

In [ ]:
# df.time = df.time.map(lambda t: t.strftime('%H:%M'))

In [100]:
df.tail()

                                 time  tempF IATA         updated
date
2017-02-26 1900-01-01 22:30:01.900434   49.0  ORD   3:51 PM Local
2017-02-26 1900-01-01 10:50:04.968900   37.0  SEA  12:53 AM Local
2017-02-18 1900-01-01 13:50:02.956431   53.0  SFO   4:56 AM Local
2017-02-23 1900-01-01 00:00:02.754513   47.0  JFK   5:51 PM Local
2017-02-23 1900-01-01 06:30:06.378653   45.0  PHL  12:54 AM Local

In [114]:
df = df.dropna()

In [115]:
df["tempF"] = df["tempF"].astype("int")

In [123]:
df_temp = df[['IATA', "tempF", "updated"]].groupby([df.index, df.IATA])['tempF'].mean()

In [124]:
df_temp = pd.DataFrame(df_temp)

In [125]:
df_temp

                     tempF
date       IATA
2017-02-17 ATL   67.857143
           BOS   39.250000
           CLT   66.074074
           DEN   63.035714
           DFW   69.000000
           DTW   44.607143
           EWR   42.821429
           IAH   62.535714
           JFK   42.214286
           LAS   55.821429
           LAX   57.250000
           LGA   42.857143
           MCO   74.107143
           MIA   74.035714
           MSP   59.678571
           ORD   65.000000
           PHL   42.892857
           PHX   72.000000
           SEA   53.392857
           SFO   57.607143
2017-02-18 ATL   54.706294
           BOS   36.408451
           CLT   53.402778
           DEN   44.352113
           DFW   66.195804
           DTW   46.423611
           EWR   43.694444
           IAH   66.166667
           JFK   40.765957
           LAS   56.006944
...                    ...
2017-02-26 LAX   52.335714
           LGA   44.580420
           MCO   68.253521
           MIA   73.742857
           MSP   29.211268
           ORD   32.290780
           PHL   42.986014
           PHX   59.387324
           SEA   39.062937
           SFO   49.417266
2017-02-27 ATL   53.355556
           BOS   33.880952
           CLT   48.295455
           DEN   29.045455
           DFW   60.162791
           DTW   38.255814
           EWR   36.068182
           IAH   67.545455
           JFK   38.047619
           LAS   55.000000
           LAX   53.795455
           LGA   39.976744
           MCO   61.000000
           MIA   75.477273
           MSP   30.159091
           ORD   42.318182
           PHL   37.209302
           PHX   61.488372
           SEA   39.181818
           SFO   50.738095

[220 rows x 1 columns]

In [129]:
df_temp['tempF'] = df_temp['tempF'].astype('int')

In [130]:
df_temp.to_csv("all_temp.csv", header=False)

In [131]:
! cat all_temp.csv | head -n 5

2017-02-17,ATL,67
2017-02-17,BOS,39
2017-02-17,CLT,66
2017-02-17,DEN,63
2017-02-17,DFW,69

## Using only SFO data

In [27]:
sfo = df[df["IATA"] == 'SFO']

In [33]:
sfo.head()

                       time  tempF IATA        updated
date
2017-02-18  11:10:03.276780   53.0  SFO  2:56 AM Local
2017-02-23  06:10:03.585858   48.0  SFO  9:56 PM Local
2017-02-18  01:40:03.815819   56.0  SFO  4:56 PM Local
2017-02-20  03:50:03.369394   56.0  SFO  6:56 PM Local
2017-02-20  13:50:04.640115   58.0  SFO  4:56 AM Local

In [35]:
sfo.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1346 entries, 2017-02-18 to 2017-02-18
Data columns (total 4 columns):
time       1346 non-null object
tempF      1346 non-null float64
IATA       1346 non-null object
updated    1346 non-null object
dtypes: float64(1), object(3)
memory usage: 52.6+ KB

In [24]:
df.time = pd.to_datetime(df['time'], format='%H:%M:%S.%f')

In [38]:
df.time.head()

date
2017-02-21   1900-01-01 19:30:03.032806
2017-02-21   1900-01-01 19:40:02.949925
2017-02-19   1900-01-01 10:10:01.763900
2017-02-25   1900-01-01 09:00:02.466637
2017-02-25   1900-01-01 09:10:06.001757
Name: time, dtype: datetime64[ns]

In [39]:
sfo.time.head()

date
2017-02-18    11:10:03.276780
2017-02-23    06:10:03.585858
2017-02-18    01:40:03.815819
2017-02-20    03:50:03.369394
2017-02-20    13:50:04.640115
Name: time, dtype: object

In [40]:
sfo.time = sfo.time.map(lambda t: t.strftime('%H:%M'))

In [41]:
sfo.head()

             time  tempF IATA        updated
date
2017-02-18  11:10   53.0  SFO  2:56 AM Local
2017-02-23  06:10   48.0  SFO  9:56 PM Local
2017-02-18  01:40   56.0  SFO  4:56 PM Local
2017-02-20  03:50   56.0  SFO  6:56 PM Local
2017-02-20  13:50   58.0  SFO  4:56 AM Local

In [52]:
sfo_temp = sfo.groupby(sfo.index)['tempF'].mean()

In [55]:
sfo_temp = pd.DataFrame(sfo_temp)

In [56]:
sfo_temp.columns

Index([u'tempF'], dtype='object')

In [59]:
sfo_temp["tempF"] = sfo_temp["tempF"].astype("int")

In [62]:
sfo_temp.to_csv("sfo_weather.csv", header=False)

In [63]:
! cat sfo_weather.csv | head -n 3

2017-02-17,57
2017-02-18,54
2017-02-19,52

In [64]:
sfo_temp.to_json("sfo_weather.json")

In [66]:
sfo_temp['iata'] = 'SFO'

In [67]:
sfo_temp

            tempF iata
date
2017-02-17     57  SFO
2017-02-18     54  SFO
2017-02-19     52  SFO
2017-02-20     56  SFO
2017-02-21     57  SFO
2017-02-22     51  SFO
2017-02-23     48  SFO
2017-02-24     47  SFO
2017-02-25     48  SFO
2017-02-26     49  SFO
2017-02-27     50  SFO

In [70]:
sfo_daily = sfo_temp['iata', 'date', 'tempF']

KeyError: ('iata', 'date', 'tempF')

In [81]:
sfo_daily = sfo_temp[['iata', 'tempF']]

In [79]:
sfo_daily = sfo_daily.reset_index

In [83]:
sfo_daily

           iata  tempF
date
2017-02-17  SFO     57
2017-02-18  SFO     54
2017-02-19  SFO     52
2017-02-20  SFO     56
2017-02-21  SFO     57
2017-02-22  SFO     51
2017-02-23  SFO     48
2017-02-24  SFO     47
2017-02-25  SFO     48
2017-02-26  SFO     49
2017-02-27  SFO     50

In [88]:
sfo_daily.to_csv("temptest.csv", header=False)